*{
  margin: 5px;
  padding: 0px;
}
.playerBox{
  display: inline-block;
  width: 34%;
  border: 1px solid black;
  height: 200px;
}

.playerBox h1, h5{
  text-align: center;
}
button{
  width: 90%;
  height: 30px;
  color: white;
}
button[disabled]{
  background-color: skyblue;
}
.blueBackground{
  background-color: blue;
  
}
.orangeBackground{
  background-color: orange;
}
img{
  width: 100px;


}